spring:
  application:
    name: API-GATEWAY

server:
  port: 8654

eureka:
  client:
    service-url:
      defaultZone: http://localhost:8761/eureka/
    register-with-eureka: true
    fetch-registry: true

logging:
  level:
    com.example.apigateway.filter: DEBUG
